In [1]:
import pandas as pd

citybike_tripdata = pd.read_csv('data/citibike-tripdata.csv', sep=',')
citybike_tripdata.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [2]:
citybike_df = citybike_tripdata.copy()
citybike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [4]:
difference = 300000 - (citybike_df['start station id'].count())
print(difference)

169

In [9]:
print(int(citybike_df['start station id'].mode()[0]))

281

In [10]:
print(citybike_df['bikeid'].mode()[0])

33887

In [11]:
"Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer?
"В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых."

mode_usertype = citybike_df['usertype'].mode()[0]
count_mode_user = citybike_df[citybike_df['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / citybike_df.shape[0], 2))

Object `Customer` not found.
0.77

In [16]:
male_count = citybike_df[citybike_df['gender'] == 1].shape[0]
female_count = citybike_df[citybike_df['gender'] == 2].shape[0]
print(male_count,',', female_count)

183582 , 74506

In [19]:
citybike_df.describe(include=['object', 'int64'])

,starttime,stoptime,start station name,end station name,bikeid,usertype,birth year,gender
count,300000,300000,299831,299831,300000.000000,300000,300000.000000,300000.000000
unique,299836,299813,759,765,NaN,2,NaN,NaN
top,2018-09-02 13:59:41.7770,2018-09-04 17:51:07.9110,Grand Army Plaza & Central Park S,West St & Chambers St,NaN,Subscriber,NaN,NaN
freq,2,2,1928,1963,NaN,232202,NaN,NaN
mean,NaN,NaN,NaN,NaN,26688.525943,NaN,1979.364803,1.108647
std,NaN,NaN,NaN,NaN,6271.691143,NaN,11.920796,0.613398
min,NaN,NaN,NaN,NaN,14529.000000,NaN,1885.000000,0.000000
25%,NaN,NaN,NaN,NaN,20569.000000,NaN,1969.000000,1.000000
50%,NaN,NaN,NaN,NaN,28197.000000,NaN,1982.000000,1.000000
75%,NaN,NaN,NaN,NaN,32216.000000,NaN,1989.000000,1.000000
max,NaN,NaN,NaN,NaN,34863.000000,NaN,2002.000000,2.000000

In [24]:
citybike_df['birth year'].max()

2002

In [25]:
citybike_df['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [26]:
citybike_df['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [4]:
import pandas as pd

citybike_tripdata = pd.read_csv('data/citibike-tripdata.csv', sep=',')
citybike_df = citybike_tripdata.copy()
citybike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [5]:
citybike_df.drop(['start station id', 'end station id'], axis=1, inplace=True)
print(citybike_df.shape[1])

12

In [6]:
citybike_df['age'] = 2018 - citybike_df['birth year']
citybike_df.drop(['birth year'], axis=1, inplace=True)
print(citybike_df[citybike_df['age'] > 60].shape[0])

11837

In [12]:
citybike_df['starttime'] = pd.to_datetime(citybike_df['starttime'])
citybike_df['stoptime'] = pd.to_datetime(citybike_df['stoptime'])
citybike_df['trip duration'] = (citybike_df['stoptime'] - citybike_df['starttime'])
print((citybike_df['trip duration'].loc[3].seconds)/60)

7.266666666666667

In [18]:
weekday = citybike_df['starttime'].dt.dayofweek
citybike_df['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
print(citybike_df[citybike_df['weekend'] == 1].shape[0])

115135

In [20]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
citybike_df['time_of_day'] = citybike_df['starttime'].dt.hour.apply(get_time_of_day)
a = citybike_df[citybike_df['time_of_day'] == 'day'].shape[0]
b = citybike_df[citybike_df['time_of_day'] == 'night'].shape[0]
print(a, b, (round(a / b)))

143012 15085 9